@model LaGrife.Models.Entities.Vendedor

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center mb-4">Excluir vendedor</h1>

<h3 class="text-center mb-4">Tem certeza que deseja excluir o Vendedor?</h3>

<div class="row justify-content-center">
    <div class="col-md-6">
        <div class="card p-4 shadow-sm">
            <h4 class="text-center mb-3">Informações do vendedor</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Nome)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Nome)
                </dd>
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Email)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Email)
                </dd>
                <dt class="col-sm-4 fw-bold">
                    @Html.DisplayNameFor(model => model.Aniversario)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Aniversario)
                </dd>
            </dl>
        </div>
    </div>
</div>

<div class="text-center mt-4">
    <form asp-action="Delete" class="d-inline">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Deletar" class="btn btn-danger btn-lg" />
    </form>
    <a asp-action="Index" class="btn btn-secondary btn-lg">Voltar para a lista</a>
</div>